body{
    background-color:brown;
    color:white;
}
div{
    background-color: white;
    color: black;
}
#v{
    color:brown;
}
#d{
    background-color: lightpink;
    color:brown;
}
a{
    color: brown;
}